spring:
  application:
    name: gateway-service
    version: @project.version@
  profiles:
    active: home
  webflux:
    base-path: "/home"
  rabbitmq:
    host: rabbitmq-headless
    port: 5672
    virtual-host: "/temperature"
    username: "${rabbitmq.username:guest}"
    password: "${rabbitmq.password:guest}"
    connection-timeout: 10s
    requested-heartbeat: 30s
    template:
      retry:
        enabled: true
        initial-interval: 1000ms
        multiplier: 5

server:
  port: 6200

internal:
  service:
    database:
      host: database-service
      port: 6200

logbook:
  format:
    style: http

logging:
  level:
    org.zalando.logbook: trace
    org.springframework.amqp: INFO
    org.springframework.amqp.rabbit.connection: DEBUG

---

spring:
  config:
    activate:
      on-profile: local
  rabbitmq:
    host: localhost

server:
  port: 6001
management:
  server:
    port: 8001

internal:
  service:
    database:
      host: localhost
      port: 6005
